html, body {
  margin: 0;
  padding: 0;
  background-color: #373435;
  color: #fff;
  box-sizing: border-box;
  overflow: hidden;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

canvas {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
}

.loader {
  position: absolute;
  z-index: 2;
  background: #000;
  color: #fff;
}

.credits {
  margin: 20px;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 210px;
  height: auto;
  color: #000;
  font-family: sans-serif;
}
